
        #head1 {
            padding-left: 150px;
            margin-bottom: 0px;
            background-color: rgba(99, 6, 175, 0.651);
            color: white;
            width: 100%;
        }
        
        .footer {
            background-color: rgba(99, 6, 175, 0.295);
        
        }